header {
    text-align: center;
}

body {
    height: 100%;
}

.popcorn {
    background-image: url(https://s3.amazonaws.com/images.ecwid.com/images/27221405/1376656712.jpg);
    background-color: #CCCCCC; 
    /* height: 806px;  */
    min-height: 806px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.searchbox {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    align-items: center;
}

.search-text {
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: hsl(348, 100%, 61%); 
    font-size: 50px;
    font-weight: bolder;
    color: black;
}

.button {
    margin-top: 10px;
}


.movie-name {
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer{
    background-color: hsl(348, 100%, 61%);
    display: flex;
    justify-content: center;
    padding-top: 17px;
    
}

.footer-content {
    color: black;
    padding-bottom: 18px;
    font-size: 20px;
    font-weight: bold;

}

.movie-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
    height: 500px;
    width: 700px;
    
}

.poster-image {
    overflow: hidden;
}

.poster-image img {
    width: auto;
    height: auto;
}

#current {
    color: white;
}




#pageNumContainer a{
    margin: 4px;
}

.movie-section {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    margin-left: 700px;
    /* margin-right: 50px; */
}

.card-content {
    background-color: black;
    color: white;
}

.navbtns {
    display: flex;
    justify-content: center;

}

#goBackToSearch {
    margin-right: 65px;
}

.button {
    margin-bottom: 20px;
}

.hide{
    display: none;
}


/* Below here is for the results HTML */

.movie-placeholder {
    display: flex;
    justify-content: center;
    font-size: 90px;
    margin-bottom: 60px;
}

.content {
    color: red;
    display: flex;
    flex-direction: inline;
    padding: 10px 50px 20px;
}

#xyz, #abc {
    background-color: yellow;
    padding: 10px 50px 20px;
    border: 5px outset;
    margin: 10px;
}

#result-header {
    height: 100px;
}

#result-title {
    margin-top: 20px;
}

#main-results {
    height: 844px;
    background-color: rgb(151, 221, 149);

}

#home-button {
    display: flex;
    justify-content: center;
}

#SearchForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer-results {
    background-color:hsl(348, 100%, 61%);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#footer-text {
    color: black;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
